.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: var(--pl-bg);
  color: var(--pl-text-primary);
  overflow: hidden;
}

.main-content {
  display: flex;
  flex: 1;
  overflow: hidden;
}
